<article class="item entry-item item-status-unread">
    <div class="item-header">
        <span class="item-title">
            <a href="$url">$title</a>
        </span>
    </div>
    <div class="item-meta">
        <ul class="item-meta-info">
            <li class="item-meta-info-timestamp">
                $source_feed
            </li>
            <li>
                <span>
                  $reading_time דקות
                </span>
            </li>
        </ul>
    </div>

    $content_peek
</article>
<!-- <div class="entry">
  <div class="top">
    <a href="$url">$title</a>
    <div class="source-feed">$source_feed</div>
    <div class="reading-time">$reading_time דקות</div>
  </div>
  <div class="content-peek">$content_peek</div>
</div> -->
